.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #007bff !important;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}